<div class="parallax-container">
  <div class="parallax"><%= image_tag "selfie_beach.jpg" %></div>
    <nav class="transparent" role="navigation">
	    <div class="nav-wrapper container">
	      <a href="#!" class="brand-logo white-text">PicShare</a>
	      <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="white-text material-icons">menu</i></a>
	      <ul class="right hide-on-med-and-down">
	        <li class="waves-effect waves-teal"><a href="#" class="grey-text text-darken-3">Log In</a></li>
	        <li class="waves-effect waves-green"><a href="#" class="grey-text text-darken-3">Sign Up</a></li>
	      </ul>
	      <ul class="side-nav" id="mobile-demo">
					<li><a href="#">Log In</a></li>
	        <li><a href="#">Sign Up</a></li>
	      </ul>
	    </div>
	  </nav>
  </div>