@import "materialize";

body {
  height: 6000px;
}

.main-caption {
  padding-top: 55px;
}

.main-caption-logo {
  font-size: 65px;
  font-weight: 200;
}

.parallax-container {
  background-color: rgba(0,0,0,0.45);
}

.login-btn {
  margin-right: 20px;
}

